.market{ 
  margin:0;
  padding:0;
  height :1300px;
  background: url(img/fndMarket.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
