
.adversaire1{
	background-color:#D6E8F9;
	height: 1000px;
	
	left:-759px;
}
.adversaire2{
	background-color:#FFE8EA;
	height: 1000px;
	
	right:-759px;
}
.chat{
	background-color:#E5E5E5;
	height: 150px;
	width:350px;
	left:565px;
	position:absolute;
	top:-150px;
}
