
.blockPlayer1{
	background-color:#FFE8EA;
	height: 1000px;
	
/*
	left:-759px;
*/
}
.blockPlayer2{
	background-color:#D6E8F9;
	height: 1000px;
	
/*
	right:-759px;
*/
}
.chat{
	background-color:#E5E5E5;
	height: 200px;
	width:350px;
	position:absolute;
	border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-top: 1px solid grey;
	bottom:0px;
/*
	top:-150px;
*/
}

.stateFight{
	background-color:#E5E5E5;
	height: 120px;
	width:700px;
	position:absolute;
	border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top:30px;
    padding-left:40px;
}


.player1{
	background-color:#E5E5E5;
	height: 150px;
	position:absolute;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top:20px;
}

.player2{
	background-color:#E5E5E5;
	height: 150px;
	position:absolute;
	right:0px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top:20px;
    z-index:1;

}

.attacks1{
	background-color:#E5E5E5;
	height: 250px;
	position:absolute;
	border-top: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.attacks2{
	background-color:#E5E5E5;
	height: 250px;
	position:absolute;
	right:0px;
	border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
