
<template name="fightArea">
	COMBAT EN COURS
	<input type="button" class="leave-fight" value="Quitter le combat" />
	

	
	{{#if verifSurrend}} 
		{{> surrend}}
	{{else}}
		{{#if needIChooseCat}} 
			{{> chooseCat}}
		{{else}}
			{{> game}}
		{{/if}}
	{{/if}}
	
	
</template>

<template name="surrend">
	Votre adversaire a abandonné :'( gg ! 
</template>

<template name="game">
	<img src="./img/{{myCat.img}}.jpg" alt="arobas" style="width:160px; height:160px;" /> 
	{{myCat.name}}
			
	<div class="row">
		<div class="col-xs-4 player1Infos">Infos joueur 1</div>
		<div class="col-xs-4 catPhoto">PhotoChat</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4 chat">Discussion</div>
		<div class="col-xs-8 logs">Déroulement du combat</div>
		<div class="col-xs-8 actions">Mes attaques</div>
	</div>
	<div class="row">
		<div class="col-xs-4 player2Infos">Infos joueur 1</div>
		<div class="col-xs-4 catPhoto">PhotoChat</div>
	</div>
		
	{{#if amILeader}}
		C'est a vous de jouer !! 
	{{/if}}
	
</template>

<template name="chooseCat">
	<select class="selectCat" name="select">
		<option value=""  >SELECTIONNER UN CHAT</option>
		{{#each allMyCats}}
			<option value={{_id}}>{{name}} ( {{breed}} niveau {{level}}</option> 
		{{/each}}	 
	</select>
	<input type="button" class="valid-cat" value="VALIDER LE CHAT" />
</template>
