
<template name="fightArea">
	COMBAT EN COURS
	<input type="button" class="leave-fight" value="Quitter le combat" />
	

	
	{{#if verifSurrend}} 
		{{> surrend}}
	{{else}}
		{{#if needIChooseCat}} 
			{{> chooseCat}}
		{{else}}
			{{> game}}
		{{/if}}
	{{/if}}
	
	
</template>

<template name="surrend">
	Votre adversaire a abandonné :'( gg ! 
</template>

<template name="game">
	
	
	<div class="row joueur1 ">
		<div class="col-xs-2 player2Infos">INFOS {{ennemy.username}} : <br/> NOM CHAT : {{ennemyCat.name}} <br/> LEVEL : {{ennemyCat.level}}<br/> PVS : {{ennemyCat.hp}} <br/> </div>
		<div class="col-xs-4 catPhotoPlayer1"><img src="./img/{{ennemyCat.img}}.jpg"  style="width:160px; height:160px;" /></div>
	</div>
	
	<div class="row midle">
		<div class="col-xs-4 chat">
		Discussion<br/>
		{{> chat}}
		</div>
		<div class="col-xs-8 logs">
			
			{{myFigthLog.message}}<br/>
			{{#if amILeader}}
			C'est a vous de jouer !! 
			{{/if}}

		</div>
	</div>
	<div class="row joueur2">
		
		{{#if amILeader}}
		
			<div class="col-xs-2 ">MES ATTAQUES:<br/>
				<a href="#"  class="attack1" value = {{myCat.attacks.attack1.dommages}} >{{myCat.attacks.attack1.nom}}</a> <br/>
				<a href="#"  class="attack2" value = {{myCat.attacks.attack2.dommages}} >{{myCat.attacks.attack2.nom}}</a> <br/>
				<a href="#"  class="attack3" value = {{myCat.attacks.attack3.dommages}} >{{myCat.attacks.attack3.nom}}</a>	
			</div>
	
		{{/if}}
		
		<div class="col-xs-2 catPhotoPlayer2"><img src="./img/{{myCat.img}}.jpg"  style="width:160px; height:160px;" /></div>
		<div class="col-xs-2 player1Infos">INFOS {{currentUser.username}}: <br/> NOM CHAT : {{myCat.name}} <br/> LEVEL : {{myCat.level}} <br/> PVS : {{myCat.hp}}<br/> </div>
		
	</div>
		
</template>

<template name="chooseCat">
	<select class="selectCat" name="select">
		<option value=""  >SELECTIONNER UN CHAT</option>
		{{#each allMyCats}}
			<option value={{_id}}>{{name}} ( {{breed}} niveau {{level}}</option> 
		{{/each}}	 
	</select>
	<input type="button" class="valid-cat" value="VALIDER LE CHAT" />
</template>

<template name="chat">
	<input type="text" class ="inputChat" value="" /> <br/>
	{{#each messages}}
		{{author}} : {{message}} <br/>
	{{/each}}
</template>
