
<template name="fightArea">
<!--
	COMBAT EN COURS
	<input type="button" class="leave-fight" value="Quitter le combat" />
-->

	{{#if verifSurrend}}
		{{> surrend}}
	{{else}}
		{{#if verifWin}}
			vous avez gagné <br/>
			{{> chat}}
		{{else}}
			{{#if verifLoose}}
				vous avez perdu <br/>
				{{> chat}}
			{{else}}
				{{#if needIChooseCat}}
					{{> chooseCat}}
				{{else}}
					{{> game}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}

</template>

<template name="surrend">
	Votre adversaire a abandonné :'( gg !
</template>

<template name="game">


	<div class ="blockPlayer1 col-xs-6 " style ='height:{{heightPlayerBlock}}px;'>

		<div class="col-xs-4 catPhotoPlayer1" style='top:{{topPhotoCat}}px' ><img src="./img/{{ennemyCat.img}}.jpg"  style='top:{{topPhotoCat}}px' /> <br/> <br /> <progress style ="width:100%" value={{myCat.hp}} max="100"></progress></div>%
		
	</div>

	<div class ="player1 col-xs-2" >
		INFOS {{ennemy.username}} : <br/> NOM CHAT : {{ennemyCat.name}} <br/> LEVEL : {{ennemyCat.level}}<br/> PVS : {{ennemyCat.hp}} <br/>
	</div>


	<div class ="blockPlayer2 col-xs-6" style ='height:{{heightPlayerBlock}}px;' >
				

		<div class="col-xs-4 catPhotoPlayer2" style='top:{{topPhotoCat}}px'><img src="./img/{{myCat.img}}.jpg"  style='width:160px; height:160px;' /> <br /> <progress value={{myCat.hp}} max="100"></progress> <br /></div>
			
			
		<div class ="player2 col-xs-2" >
			INFOS {{currentUser.username}}: <br/> NOM CHAT : {{myCat.name}} <br/> LEVEL : {{myCat.level}} <br/> PVS : {{myCat.hp}}
		</div>

			
	</div>


	<div class ="chat " style ='left:{{leftChatPx}}px;'>
		Discussion<br/>
		{{> chat}}
	</div>

	<div class ="stateFight " style ='left:{{leftSateFightPx}}px;'>
		
		{{myFigthLog.message}}<br/>
		{{#if amILeader}}
			C'est a vous de jouer !!
		{{/if}}
		
	</div>

	<div class ="attacks1 col-xs-2" style ='top:{{attacksBlockPx}}px;'>

	{{#if amILeader}}

		MES ATTAQUES:<br/>
		{{#each myCat.attacks }}
			<a href="#"  class="attack" nomAttaque ="{{nom}}">{{nom}} {{dommages}} (+{{additionalDommgs}})</a> <br/>
		{{/each}}
	

	{{/if}}

	</div>
			


</template>

<template name="chooseCat">
	<select class="selectCat" name="select">
		<option value=""  >SELECTIONNER UN CHAT</option>
		{{#each allMyCats}}
			<option value={{_id}}>{{name}} ( {{breed}} niveau {{level}}</option>
		{{/each}}
	</select>
	<input type="button" class="valid-cat" value="VALIDER LE CHAT" />
</template>

<template name="chat">
	<input type="text" class ="inputChat" value="" /> <br/>
	{{#each messages}}
		{{author}} : {{message}} <br/>
	{{/each}}
</template>
