<template name="market">



	<ul class="cd-items cd-container">
			{{#each objetsMarkets}}
			<li class="cd-item">
				
				<img src="img/{{img}}.jpg" alt="{{_id}}">
				

				 <input type="button" class="cd-trigger" value="Détails" />
			</li> 	
			{{/each}}
	</ul> <!-- cd-items -->

		<div class="cd-quick-view">
			<div class="cd-slider-wrapper">
				<ul class="cd-slider">
					
					<li class="selected"><img id ="image" src="" alt="Product 1"></li>
					
				</ul> <!-- cd-slider -->

				<ul class="cd-slider-navigation">
					<li><a class="cd-next" href="#0">Prev</a></li>
					<li><a class="cd-prev" href="#0">Next</a></li>
				</ul> <!-- cd-slider-navigation -->
			</div> <!-- cd-slider-wrapper -->
 
			<div class="cd-item-info">
				<h2>{{breed}}</h2>
				
				<p>
					Prix : {{price}} <br />
					Sexe : {{sexe}} <br />
					Quantité disponible : {{quantity}}
				</p>
				
				<ul class="cd-item-action">
					
					{{#if isASelected objetcSelected }}
						
						 {{> newCat}}
							
					{{else}}
						<li><button class="buyObject">CHOISIR</button></li>	
					{{/if}}
				
				</ul> <!-- cd-item-action -->
			</div> <!-- cd-item-info -->
			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-quick-view --> 



</template>
