 <template name="myCats">
 
	{{#each cats}}
		<div class="col-lg-2 cat">
			<img src="./img/{{img}}.jpg" alt="arobas" style="width:160px; height:160px;" /> 
			<div class = "">
				<b>Nom : {{ name}} </b> <br />
				 Niveau : {{level}} <br />
				 race : {{breed}} <br />
				 sexe : {{sex}} <br />
				 <input type="button" class="open-modal" value="faire combattre" />
			</div>
		</div>
	{{/each}}
	
	{{> chooseEnemy}}
	
<!--
	{{alterFight}}
-->
	{{#if alertFight}} 
		{{> fight}}
		{{test}}
	{{/if}}

	
	
	
</template>


<template name="chooseEnemy">
  <div class="modal fade in" id="chooseEnemy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Choisir un aversaire</h4>
		</div>
        <div class="modal-body">
			
		{{#each user}}
			{{#if usersOnlineCheck}} 
				<a href="#" class = "{{userStatusClass}}"> {{username}}</a> 
				<a  value = "{{_id}}" class ="open-fight">[DEFIER]</a>  <br />
			{{/if}}
		{{/each}}
  
        </div>
      </div>
    </div>
  </div>
</template>

<template name="fight">

  <div class="modal fade in" id="fight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
       <div class="cd-popup-container">
			<p>Un joueur souhaite vous défier, accepter ? </p>
			<ul class="cd-buttons">
				<li><a class ="closeFightAlert" href="#">Oui</a></li>
				<li><a class ="closeFightAlert" href="#">Non</a></li>
			</ul>
		</div>  
    </div>
  </div>

</template>


