<template name="newCat">

    <h2>ACHETER UN CHAT</h2>

    <form>

        <label>Nom</label><input type="text" name="name" /><br />

        <label>race</label>
        <select name="breed">
		    <option value="lion">Chat lion</option>
		    <option value="himalayen">Himalayen</option>
		    <option value="exotic">exotic</option>
		    <option value="god">Dieu chat</option>
		    <option value="persan">persan</option>
		</select>
		
		<br />

        <label>sexe</label>
        <select name="sex">
		    <option value="male">male</option>
		    <option value="femelle">femelle</option>
		</select>
		
		<br />

        <button type="submit" >Envoyer</button>

    </form>


   


</template>
