<template name="test">
					 
<!--
	<a href="#"  class="test">yuhuuuuuuuuuuu</a>
-->
	<div class ="blockPlayer1 col-xs-6 " style ='height:{{heightPlayerBlock}}px;'></div>
	<div class ="blockPlayer2 col-xs-6" style ='height:{{heightPlayerBlock}}px;' ></div>
	<div class ="chat " style ='left:{{leftChatPx}}px;'></div>
	<div class ="stateFight " style ='left:{{leftSateFightPx}}px;'></div>
	<div class ="player1 col-xs-2" ></div>
	<div class ="player2 col-xs-2" ></div>
	<div class ="attacks1 col-xs-2" style ='top:{{attacksBlockPx}}px;'></div>
	<div class ="attacks2 col-xs-2" style ='top:{{attacksBlockPx}}px;'></div>
	{{test}}
</template>
